* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.7;
  color: grey;
}

h1,
h2 {
  color: #333;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 80%;
}

.btn {
  padding: 0.75rem 2.5rem;
  border-radius: 20px;
  margin: 0.5rem;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background: #26baa4;
  border-bottom: #29a385 3px solid;
  -webkit-box-shadow: 0 2px 10px #6173ff;
          box-shadow: 0 2px 10px #6173ff;
}

.btn-secondary {
  background: #6173ff;
  border-bottom: #3a6af8 3px solid;
  -webkit-box-shadow: 0 2px 10px #6173ff;
          box-shadow: 0 2px 10px #6173ff;
}

header {
  background: url(images/bg-header-desktop.png) no-repeat center center/cover;
  text-align: center;
  padding: 5rem;
}

header p {
  margin-bottom: 2rem;
}

#section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

#section1 .section1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section1 .section1-content p {
  padding: 0 25%;
}

#section1 .section1-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

#section1 .section1-features img {
  margin: 0 2rem 0 -5rem;
}

#section1 .section1-features .features-content {
  padding: 5rem 5%;
}

#section1 .section1-features .features-content p {
  margin-bottom: 3rem;
}

#section2 {
  text-align: center;
}

#section2 p {
  padding: 0 25%;
  margin-bottom: 5rem;
}

#section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

#section3 p {
  margin-bottom: 3rem;
}

#section3 .section3-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 6rem;
}

#section3 .section3-content .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.7rem;
}

#section3 .section3-content .box h3 {
  margin: 0.75rem;
}

#section3 .section3-content .box .icon1 {
  padding-top: 1rem;
}

#section4 {
  padding: 1rem 6rem;
}

#section4 img {
  margin: 0 2rem;
}

#section5 {
  text-align: center;
  padding: 5rem;
}

#section5 p {
  margin: 2rem 20%;
}

#footer {
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 7rem;
}

#footer h5 {
  margin-top: 0.5rem;
}

#footer img {
  width: 50px;
}

#footer .footer {
  margin: 0 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#footer .social {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer .social i {
  margin-left: 1rem;
}

@media (max-width: 900px) {
  header {
    padding: 3rem;
  }
  #section1 {
    display: block;
    margin-bottom: 3rem;
  }
  #section1 .section1-content {
    display: block;
    text-align: center;
  }
  #section1 .section1-content p {
    padding: 0 18%;
  }
  #section1 .section1-features {
    display: block;
    margin-top: 5rem;
  }
  #section1 .section1-features .features-content {
    margin: auto;
    text-align: center;
    padding: 2rem;
  }
  #section1 .section1-features .features-content p {
    margin-bottom: 3rem;
    padding: 0 7%;
  }
  #section1 .section1-features img {
    max-width: 80%;
    margin: auto;
    margin-left: 2rem;
  }
  #section2 p {
    padding: 0 10%;
  }
  #section3 {
    display: block;
    padding: 0 7%;
  }
  #section3 .section3-content {
    display: block;
    margin: 0;
  }
  #section4 {
    text-align: center;
  }
  #section4 img {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
  }
  #section5 {
    padding: 3rem;
  }
  #section5 p {
    margin: 2rem 8%;
  }
  #footer {
    display: block;
    text-align: center;
  }
  #footer .social {
    margin-top: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .footer {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */